/*Board starts here*/
table.board {
    border-collapse: collapse;
    font-size: 30px;
    margin: 0px auto;
}

th, td {
    border: 1px solid #000000;
    width: 50px;
    height: 50px;
}

table.board tr:first-child {
    border-top: 2px solid #000000;
}

table.board tr {
    border-left: 2px solid #000000;
}

    table.board tr:nth-child(3n) {
        border-bottom: 2px solid #000000;
    }

table.board td:nth-child(3n) {
    border-right: 2px solid #000000;
}

table.board td:hover {
    background-color: #f5dd90;
}

/*Interface starts here*/
table.interface {
    border-collapse: collapse;
    font-size: 30px;
    margin: 0px auto;
    text-align:center;
}

    table.interface td:hover {
        background-color: #f5dd90;
    }

/*additional CSS classes*/
#main {
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    
}
#user-input {
    background-color: #f2f2f2;
}

#error {
    background-color: #f76c5e;
}
body {
    min-height: 75rem;
    padding-top: 4.5rem;
}